body { margin: 0; padding: 0; overflow: hidden; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; transition: margin-left 0.5s; }
#sidePanel { height: 100vh; width: 0; position: fixed; z-index: 1; overflow-x: hidden; transition: 0.5s; background-color: #c5c5c5; }
#sidePanel a { margin-left: 15px; margin-top: 10px; padding: 6px 6px; text-decoration: none; font-size: 20px; color: #818181; display: block; transition: 0.3s; }
#sidePanel a:hover { color: #f1f1f1; }
#openBtn { font-size: 20px; cursor: pointer; position: absolute; margin-left: 15px; margin-top: 10px; background-color: #7c817c; color: white; padding: 6px 6px; border: none; border-radius: 5px; }

#datasets { position: absolute; top: 10px; left: 10px; z-index: 1; }
.dataset-option { margin-bottom: 5px; }

#legend {
    position: fixed;
    display: none;
    bottom: 30px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#legend-content div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.filter-button:hover {
    background-color: #2980b9;
}
.dataset-name {
    margin-left: 10px;
    font-weight: bold;
}
.dataset-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.dataset-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    background-color: #ffffff; /* Set background color */
    padding: 8px; /* Add padding for better appearance */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
    transition: background-color 0.3s; /* Smooth transition for background color */
}
.dataset-option:hover {
    background-color: #f1f1f1; /* Change background color on hover */
}
.filter-button {
    position: absolute;
    margin-left: 10px;
    right: 10px;
    top: 10px;
    margin-top: 10px;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}
.filter-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-top: 15px;
    max-width: 300px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Add this style for the legend items */
.legend-item {
    display: inline-block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-right: 5px;
    vertical-align: middle;
}

/* Add this style for the legend text */
.legend-text {
    font-weight: bold;
    vertical-align: middle;
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
}